*{
    font-family:Arial;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

section{
    padding-top: 128px;
    position: relative;
}

section::before{
    z-index: -1;
    content:'';
    font-size: 68px;
    color: #b0b0c0;
    position: absolute;
    left: -15px;
    top: 7px;
    opacity: 1;
}

.navbar{
    box-sizing: border-box;
    box-shadow: 0 0 0 4px #b0b0c0;
    background-color: white;
}

.navbar-nav .nav-link:hover{
    color: rgb(203, 195, 171);
}

section{
    padding-top: 100px;
}

.home h1{
    font-size: 68px;
}

.home h3{
    font-size: 38px;
}

.btn{

    border:3px solid black;
    border-radius: 32px;
}


.btn:hover, .btn-button.active{
    border: 3px solid white;
    background-color: black;
    color: white;
}

.col-4 img{
    width: 90%;
}

.arrow img{
    width: 42px;
}

.arrow{
    animation: 2s upDown infinite;
}

.about{
    margin-top: 72px;
}

.about::before{
    content: 'About';
}

.about p{
    text-align: justify;
}


.about-exp-item-detail{
    display: none;
}

h5{
    font-size: 27px;
}

@keyframes upDown{
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform:translateY(0);
    }
}